<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SMBXVM102F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SMBXVM102F');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
<!--     <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"> -->
<!--     <link rel="icon" type="image/png" sizes="32x32" href="https://www.colorcombos.com/colors/660033"> -->
    <title>Ajith's Portfolio</title>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <style>
      /* preventing image overflow on mobile */
      img {
        height: auto;
      }

    /* Media query for smaller screens (e.g., mobile) */
    @media (max-width: 768px) {
    .profilepic {
      max-width: 32%; /* Adjust as needed */
    }
  }
    </style>
  </head>
  <body>
    <div class="wrapper" style="width: 1235px;">
      <header style="text-align: center; position: relative;">
        <h1 style="font-size: 24px;"><a href="{{ "/" | absolute_url }}" style="color: black;"}>{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" class="profilepic"/>
          <!-- <img src="{{site.logo | relative_url}}" alt="Logo" style="
          max-width: 35%;"/> -->
        {% endif %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

<!--         {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
 -->
        {% if site.show_downloads %}
    <!--    <ul class="downloads">
          <a href="pdf/Ajith resume in harvard format.pdf" target="_blank">Resume<strong>PDF File</strong></a>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          
        </ul>
    -->
            <button class="download-button" style="display: inline-block;
            padding: 10px 20px;
            background-color: hsla(0, 0%, 100%, 0.999);
            color: white;
            border: none;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;">
            <a href="pdf/Ajith%20resume.pdf" target="_blank" style="font-size: 15px;">
              Resume 
            </a>
        </button>

        <style>
        .download-button:hover {
        background-color: #00cc00; /* Change to your desired green color */
        }
        </style>
        {% endif %}
     <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
        <br>
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="aje2907" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/aje2907?trk=profile-badge">Ajith Kumar Ethirajulu</a></div>
              
      <h2 id="education">Education</h2>

<p><strong>MS in Engineering Science <br>
  Major: Data Science</strong><br>
University at Buffalo <br>
  The State University of New York<br>
Expected Graduation: January 2024</p>
        <hr>
<h2 id="skills">Skills</h2>

<p><em>Programming:</em>    Python, R, SQL, MATLAB, Machine Learning, Deep Learning, Reinforcement Learning, Git, GitHub</p>

<p><em>Databases:</em> MySQL, SQLite, Postgres SQL, Data Warehousing, ETL</p>

<p><em>Cloud:</em> Azure Data Factory, Azure Data lakes, Azure Machine Learning </p>

<p><em>Visualization:</em> Tableau, Power BI, Seaborn, Matplotlib</p>
        <hr>

<h2 id="achievements">Achievements</h2>

<p><strong>INSTA Award, Infosys Limited <br>
  July 2020</strong><br>
  For having consistently demonstrated outstanding teamwork skills and proactively stepping up in the absence of the team lead, effectively guiding the team and supporting the applications through critical deployment stages without any SLA violations and achieving a progressive reduction in the number of issues by 80%.</p>

      </header>
      <section style="text-align: justify; display: flex; width: 72%; flex-direction: row; flex-wrap: wrap; align-content: stretch; justify-content: space-between;">
      <div style="float: left; width: 57%;">
      {{ content }}
      </div>
      <div style="float: left; width: 35%; overflow-x: hidden;">
        
<h2 id="research-project">Research Project</h2>
<p><em>University at Buffalo, May 2023 - August 2023</em></p>
<hr>
<p><strong>Leveraging AlphaFold Protein Structure Prediction to study Huntington Disease for Drug Development</strong></p>
<p>This research project was done under the guidance of Professor Dr. Murali Ramanathan, Department of Pharmaceutical Sciences, University at Buffalo, New York.</p>
<p>Evaluated Google's DeepMind AlphaFold AI model for Healthcare and Clinical Pharmacology, predicting mutated protein structures using FASTA sequences, with focus on Huntington's disease research and drug development.</p>
<p>Conducted simulations in AlphaFold by creating artificially mutated FASTA sequence to mimic the Huntingtin disease mutation and carefully creating higher length PolyQ repeats. Used tools like USAlign and BioPython library to parse PDB and FASTA files, extract data and analyze them.</p>
<p>Performed data analysis on regions with low confidence scores (<50 pLDDT) and compared the 3D predicted structures by superimposing the structures with the help of visualization tools like PDB pairwise structure alignment, PyMol, and ChimeraX.</p>    
<p>Led over 80 model simulations using AlphaFold to predict different regions of the HTT protein structures, like the PolyQ repeats, HEAT domains, and Poly Proline Rich regions. Leveraged R programming and Python to visualize the simulated 3D structures and analyzed the intricate structural details.</p>
<h2 id="work-experience">Work Experience</h2>
<hr>
<p><strong>Fractal Analytics - Data Engineer</strong><br>
<em>Bengaluru, KA, India</em><br>
<em>July 2021 - April 2022</em></p>
<p>Merged extensive logistics data from multiple file sources, executed data cleaning, and employed Python for data manipulation. Implemented outlier handling for numerical data, addressed null values, and standardized the data to enhance data quality.</p>
<p>Designed data preprocessing pipeline on Azure Machine Learning workspace, composed of data loading, transformation, and data storage components as subtasks. Automated the pipeline through scheduled execution.</p>
<p>Reduced dimensionality by creating derived attributes from high dimensional raw data during transformation stage by utilizing several features, thus reducing number of features by nearly 20%.</p>
<p><strong>Infosys Limited - Senior Systems Engineer</strong><br>
<em>Chennai, TN, India</em><br>
<em>April 2018 - July 2021</em></p>
<p>Collaborated with a banking client to gather requirements, implemented rule-based scenarios using Python and SQL, and analyzed datasets from 50,000 to 30 million records, employing DQL queries and SQL analytical functions.</p>
<p>Integrated MySQL with Python for seamless data transformation, engaged in comprehensive exploratory data analysis using Pandas, NumPy, Matplotlib, and Seaborn; Devised modular Python scripts with 20+ functions for database tasks, including connectivity, data manipulation, and standardization, improving operational efficiency.</p>
<p>Applied customer profile gating, executed enterprise rules to enhance customer penetration, and conducted segmentation, resulting in a 1.2% boost in lead-to-deal conversion and customer penetration. Established a robust MySQL-Power BI connection, leveraged Power Query editor to carry out data transformations, and crafted 10+ calculated fields, measures, aggregations, and drill-down features.</p>
<p>Engineered a procedural SQL script to address a critical data persistence issue, automating manual tasks and reducing issue resolution time by 50% to avoid SLA breaches. Developed SQL scripts for DB archiving and cleanup.</p>
<h2 id="certifications">Certifications</h2>
<hr>
<p><strong>AI for Medical Diagnosis</strong> - DeepLearning.ai | September 2023<br>
Credential: https://www.coursera.org/account/<br>
  accomplishments/certificate/QMZVST438MCX<br>
Skills obtained: Deep Learning, Image Segmentation, Healthcare data, Clinical Data Analysis, Model Evaluation.</p>
<p><strong>Neural Networks and Deep Learning</strong> - DeepLearning.ai | September 2023<br>
Credential: https://www.coursera.org/account/<br>
  accomplishments/certificate/V5PS7PJAMGFE<br>
Skills obtained: Deep Learning, Artificial Neural Network, Backpropagation, Python, Neural Network Architecture.</p>
<p><strong>Microsoft Certified Azure Data Engineer Associate</strong> | September 2021 (Expires September 2024)<br>
Credential: https://learn.microsoft.com/en-us/users/ajithkumare-4153/credentials/3a7181f7e8f9ed01<br>
Skills obtained: Azure Data Factory, Azure Data lakes, Azure SQL database</p>
<p><strong>PG Certification in Business Analytics and Data Science</strong><br>
  SSN School of Advanced Career Education | Chennai, India | Aug 2021 | CGPA: 9.3</p>
<p><strong>Microsoft Certified Azure Data Fundamentals</strong> | February 2021<br>
Credential: https://learn.microsoft.com/en-us/users/ajithkumare-4153/credentials/f8894cd63e8b514d<br>
Skills obtained: Relational/ Non-relational data, Transactional/ Analytical workloads</p>
        
      </div>
      </section>

      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
<!--         <p><small>Hosted on GitHub Pages</small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
   <!-- {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    -->
  </body>
</html>
